<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="/public/css/files.css" rel="stylesheet">
	<title>Strongbox</title>
</head>
<body>
    <h2>{{ .profile.nickname }}'s files</h2>

    <div id="location">
        {{ if .splitPaths }}
            {{ range .splitPaths }}
                <a class="location__item" href="{{ .ActualPath }}">{{ .Name }}</a>
                <p class="location__item">/</p>
            {{ end }}
        {{ end }}
    </div>

    <div id="drop_zone">Drag Files & Folders Here</div>

    <table id="file_list">
        <tbody>
            {{ if .folders }}
                {{ range .folders }}
                    <tr>
                        <td>
                            <a href="/files{{ $.currentPath }}/{{ .Name }}">{{ .Name }}</a>
                        </td>
                        <td>
                            <button class="btn file_list__btn" onclick="downloadFolder('{{ .S3Key }}')">Download</button>
                        </td>
                        <td>
                            <button class="btn file_list__btn" onclick="copyDownloadFolderUrl('{{ .S3Key }}')">Copy Download URL</button>
                        </td>
                        <td>
                            <button class="btn file_list__btn" onclick="destroy('{{ .S3Key }}')">Destroy</button>
                        </td>
                    </tr>
                {{ end }}
            {{ end }}

            {{ if .files }}
                {{ range .files }}
                    <tr>
                        <div class="file">
                            <td>
                                {{ .Name }}
                            </td>
                            <td>
                                <button class="btn file_list__btn" onclick="downloadFile('{{ .S3Key }}')">Download</button>
                            </td>
                            <td>
                                <button class="btn file_list__btn" onclick="copyDownloadUrl('{{ .S3Key }}')">Copy Download URL</button>
                            </td>
                            <td>
                                <button class="btn file_list__btn" onclick="destroy('{{ .S3Key }}')">Destroy</button>
                            </td>
                        </div>
                    </tr>
                {{ else }}
                    <td class="file">No files found.</td>
                {{ end }}
            {{ else }}
                <td class="file">No files found.</td>
            {{ end }}
        </tbody>
    </table>

	<button id="logout_button" class="btn" onclick="logout()">Logout</button>

	<script src="/public/js/js.cookie.js"></script>
	<script src="/public/js/files.js"></script>
</body>
</html>
