<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="/public/css/myfiles.css" rel="stylesheet">
	<title>Strongbox</title>
</head>
<body>
    <h1>My files</h1>
    <p>Hi {{ .profile.nickname }}</p>
    <div id="drop_zone">Drag Files Here</div>
    <div id="file_list">
        {{ if .verboseAssets }}
            {{ range .verboseAssets }}
                <div class="file">{{ .Name }}</div>
            {{ else }}
                <div class="file">No files found.</div>
            {{ end }}
        {{ else }}
            <div class="file">No files found.</div>
        {{ end }}
    </div>
	<button id="logout_button">Logout</button>

	<script src="/public/js/js.cookie.js"></script>
	<script src="/public/js/myfiles.js"></script>
</body>
</html>
